//scssを使うために入れるやつ

// Define variable defaults
$body-bg: #000;
$body-color: #111;

$theme-colors: (
  "primary": #d6c428,
  "Secondary": #472f1a,
);

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-vue/src/index.scss";

// store things to reuse
$bs: Helvetica, sans-serif;
