// Define your variable overrides here
$enable-shadows: false;
$enable-gradients: false;
$grid-breakpoints: (
  xs: 0,
  sm: 456px,
  md: 789px,
  lg: 999px,
  xl: 1234px,
);
$bv-enable-table-stacked: false;

//colors
$primary: #d6c428;
$secondary: #472f1a;

// stylelint-disable value-keyword-case

// default fonts change
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
$font-family-sans-serif: "Noto Serif JP", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

// Include Bootstrap and BootstrapVue SCSS files
// @import "bootstrap/scss/bootstrap.scss"; // kinda works/
// @import "bootstrap-vue/src/index.scss"; // kinda works/
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-vue/src/index.scss";
// General style overrides and custom classes
// body {
//   margin: 0;
// }

.my-widget {
  color: var(--danger);
}
